<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="viddlerV2" type="Viddler.ViddlerConfigurationSection, ViddlerV2"/>
  </configSections>
  <viddlerV2
    apiKey="xxxxxxxxxxxxxxxxxxxx"
    baseUrl="http://api.viddler.com/api/v2/"
    secureBaseUrl="https://api.viddler.com/api/v2/"
    enableSsl="true" />
</configuration>
